
{% load tag_extras %}

<!DOCTYPE html>
<html>
    <head>
        <title>Hundred Nights Donation Report</title>
        <style type="text/css">
            {% include "style.css" %}
        </style>
    </head>
    <body>
        <div style="width: 800px; margin: 0 auto;">
        <h1>Donation Report: {{ start_date }} through {{ end_date }}</h1>
        <table>
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Title</th>
                <th>Address</td>
                <th>Amount</th>
                <th>Description</th>
                <th>Comment</th>
                <th>Email</th>
            </tr>
            {% for donation in donations %}
            <tr>
                <td>{{ donation.date }}</td>
                <td>{{ donation.donor.name }}</td>
                <td>{{ donation.donor.title|replace_none:"-" }}</td>
                {% if donation.donor.street_2 %}
                <td>{{ donation.donor.street_1 }} {{ donation.donor.street_2 }}, 
                {{donation.donor.city}}, {{donation.donor.state}} {{donation.donor.zip}}</td>
                {% else %}
                <td>{{ donation.donor.street_1 }}, {{donation.donor.city}}, {{donation.donor.state}} {{donation.donor.zip}}</td>
                {% endif %}
                <td>{{ donation.amount|currency }}</td>
                <td>{{ donation.description|replace_none:"-" }}</td>
                <td>{{ donation.comment|replace_none:"-" }}</td>
                <td>{{ donation.donor.email|replace_none:"" }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3">Total Donations:</td>
                <td>{{ donations|length }}</td>
            </tr>
            <tr>
                <td colspan="3">Total Donated Amount:</td>
                <td>{{ total_donated|currency }}</td>
            </tr>
        </table>
        </div>
    </body>
</html>
