
{% load tag_extras %}

<!DOCTYPE html>
<html>
    <head>
        <title>Hundred Nights Participation Report</title>
        <style type="text/css">
            {% include "style.css" %}
        </style>
    </head>
    <body>
        <div style="width: 800px; margin: 0 auto;">
        <h1>Participation Report: {{ start_date }} through {{ end_date }}</h1>

        {% for type, records, hours in part_info %}
        <h2>{{type}}</h2>
        <table>
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Group?</th>
                <th>Hours</th>
                <th>Num. Participants</th>
                <th>Comment</th>
            </tr>
            {% for part in records %}
            <tr>
                <td>{{ part.date }}</td>
                <td>{{ part.volunteer.name }}</td>
                <td>{{ part.volunteer.is_group|bool_yn }}</td>
                <td>{{ part.hours }}</td>
                <td>{{ part.num_participants }}</td>
                <td>{{ part.comment }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="5" style="text-align: right" >{{type}} Hours:</td>
                <td>{{ hours }}</td>
            </tr>
        </table>
        {% endfor %}

        <div style="margin-top: 20px;">
            <span style="font-weight: bold;">Total Volunteer Hours: {{ total_volunteer_hours }}</span>
        </div>
        </div>
    </body>
</html>
