{% load tag_extras %}
{% load staticfiles %}

{% include "report_header.html" %}

    <style type="text/css">
        div.spacer {
            margin: 5em;
        }

        .lightbox {
            display: none;
        }

        @media print {
            [class*="col-md"], [class*="col-sm"], [class*="col-xs"] {
                float: none;
            }

            .container {
                width:100%;
            }
        }

        a:hover {cursor:pointer}
    </style>

    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-ui-1.10.3.custom.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/featherlight.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/featherlight.min.css"%}"></script>
    <script type="text/javascript">
        $(document).ready(function() {

            // An event handler for visitor links used to
            // expand a particular question and load the sub-table with data
            function showVisitorData(link) {
                var hiddenRow = $(link).closest("tr").next("tr");
                if(! $(hiddenRow).is(":visible")) {
                    var container = $(hiddenRow).children(".visitor-container");
                    var questionId = $(this).attr("data-bind");

                    // request the question data
                    var relatedForm = $(link).closest("form");
                    $.ajax({
                        dataType : "json",
                        url: relatedForm.attr("action"), 
                        type: "post",
                        data : relatedForm.serialize(),
                        success : function(data) {
                            if(data["result"] == "error") {
                                alert(data["message"]);
                            } else {
                                var table = $("<table></table>");
                                $.each(data.respondents, function(i, row) {
                                    table.append("<tr>" + 
                                        "<td colspan=\"2\">" + row.name + "</td>" + 
                                        "<td colspan=\"1\"><a href=\"/edit-visitor/" + row.id + "\">Edit</a></td>" + 
                                        "</tr>");
                                });
                                container.empty();
                                container.append(table);
                                $(hiddenRow).show(); 
                                $(link).html("[Hide]");
                            }
                        }
                    });
                } else {
                    $(hiddenRow).hide(); 
                    $(link).html("[Show]");
                }
            }

            // an event handler for visit-question links used to expand a 
            // particular question and load the sub-table with data
            function showVisitData(link) {
                var hiddenRow = $(link).closest("tr").next("tr");
                if(! $(hiddenRow).is(":visible")) {
                    var container = $(hiddenRow).children(".visit-container");
                    var questionId = $(this).attr("data-bind");

                    // request the question data
                    var relatedForm = $(link).closest("form");
                    $.ajax({
                        dataType : "json",
                        url : relatedForm.attr("action"),
                        type : "post",
                        data : relatedForm.serialize(),
                        success : function(data) {
                            if(data["result"] == "error") {
                                alert(data["message"]);
                            } else {
                                var table = $("<table></table>");
                                $.each(data.respondents, function(i, row) {
                                    table.append("<tr>" + 
                                        "<td colspan=\"2\">" + row.name + "</td>" + 
                                        "<td><a href=\"/edit-visit/" + row.visitorid + "/" + row.id + "\">Edit</a></td>" + 
                                        "</tr>");
                                });
                                container.empty();
                                container.append(table);
                                $(hiddenRow).show(); 
                                $(this).html("[Hide]");
                            }
                        }
                    });
                } else {
                    $(hiddenRow).hide(); 
                    $(this).html("[Show]");
                }
            }

            // when the a 'show' link is clicked on the visitor table, 
            // load the container
            $(".show-visitor-data").click(function(e) { 
                    e.preventDefault(); 
                    showVisitorData(e.target); 
            });

            // similarly for visit data
            $(".show-visit-data").click(function(e) {
                e.preventDefault();
                showVisitData(e.target);
            });
        });
    </script>

    <div style="padding-left: 50px; margin-left: 50px;">
    <h1>United Way Report: {{ start_date }} through {{ end_date }}</h1>
    <h1>
        {{ report_header }}
    </h1>
    <hr/>

        <div class="row">
            <div class="col-md-6">
                <h3>{{ num_unique_visitors }} Unique Visitors</h3>
                <h3>{{ total_visits }} Visits Overall</h3>
                <h3>{{ num_veteran_visits }} Veteran Visits ({{ num_visiting_veterans }} unique)</h3>
                <h3>{{ num_male }} Male, {{ num_female }} Female</h3>
                <button data-featherlight="#visitor-names" class="btn btn-default">List Visitors</button>
            </div>
            <div class="col-md-6">
                <table>
                    <thead>
                        <tr>
                            <th>Age</th>
                            {% for col_name in age_distr.col_names %}
                                <th>{{col_name}}</th>
                            {% endfor %}
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in age_distr.rows_with_total %}
                        <tr>
                            {% for entry in row %}
                            <td>{{ entry }}</td>
                            {% endfor %}
                            <td>
                                <form action="/visitor-filter/" method="post" class="show-visitor-data-form">
                                    {% csrf_token %}
                                    <input type="hidden" name="age_filter" value="{{row.0}}" />
                                    <input type="hidden" name="start_date" value="{{start_date|date:"c"}}" />
                                    <input type="hidden" name="end_date" value="{{end_date|date:"c"}}" />
                                    {% for visit_type in visit_types %}
                                        <input type="hidden" name="visit_types" value="{{visit_type.id}}" />
                                    {% endfor %}
                                    <a class="show-visitor-data">[Show]</a>
                                </form>
                            </td>
                        </tr>
                        <tr style="display: none">
                            <td colspan="3" class="visitor-container">
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <table>
                    <thead>
                        <tr>
                            <th>Ethnicity</th>
                            {% for col_name in ethnicity_distr.col_names %}
                            <th>{{col_name}}</th>
                            {% endfor %}
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                {% for row in ethnicity_distr.rows_with_total %} 
                        <tr>
                            {% for entry in row %}
                            <td>{{ entry }}</td>
                            {% endfor %}
                            <td>
                                <form action="/visitor-filter/" method="post" class="show-visitor-data-form">
                                    {% csrf_token %}
                                    <input type="hidden" name="ethnicity_filter" value="{{row.0}}" />
                                    <input type="hidden" name="start_date" value="{{start_date|date:"c"}}" />
                                    <input type="hidden" name="end_date" value="{{end_date|date:"c"}}" />
                                    {% for visit_type in visit_types %}
                                        <input type="hidden" name="visit_types" value="{{visit_type.id}}" />
                                    {% endfor %}
                                    <a class="show-visitor-data">[Show]</a>
                                </form>
                            </td>
                        </tr>
                        <tr style="display: none">
                            <td colspan="3" class="visitor-container">
                            </td>
                        </tr>
                {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <table>
                    <thead>
                        <tr>
                            <th>Income</th>
                            {% for col_name in income_distr.col_names %}
                            <th>{{col_name}}</th>
                            {% endfor %}
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                {% for row in income_distr.rows_with_total %} 
                    <tr>
                        {% for entry in row %}
                        <td>{{ entry }}</td>
                        {% endfor %}
                        <td>
                            <form action="/visitor-filter/" method="post" class="show-visitor-data-form">
                                {% csrf_token %}
                                <input type="hidden" name="income_filter" value="{{row.0}}" />
                                <input type="hidden" name="start_date" value="{{start_date|date:"c"}}" />
                                <input type="hidden" name="end_date" value="{{end_date|date:"c"}}" />
                                {% for visit_type in visit_types %}
                                    <input type="hidden" name="visit_types" value="{{visit_type.id}}" />
                                {% endfor %}
                                <a class="show-visitor-data">[Show]</a>
                            </form>
                        </td>
                    </tr>
                    <tr style="display: none">
                        <td colspan="3" class="visitor-container">
                        </td>
                    </tr>
                {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <div class="row" style="clear: both"></div>
        <div class="col-md-6">
        <h2>One-time Responses</h2>
        <table>
            <thead>
                <tr>
                    <th>Prompt</th>
                    <th>Affirmative Responses</th>
                    <th></th>
                </tr>
                <tr>
            </thead>
            <tbody>
                {% for question, count in visitor_questions %}
                    <tr>
                        <td>{{ question.prompt }}</td>
                        <td>{{ count }} </td>
                        <td>
                        <form action="/visitor-respondents/" method="post" class="show-visitor-data-form">
                            {% csrf_token %}
                            <input type="hidden" name="question_id" value="{{question.id}}" />
                            <input type="hidden" name="start_date" value="{{start_date|date:"c"}}" />
                            <input type="hidden" name="end_date" value="{{end_date|date:"c"}}" />
                            {% for visit_type in visit_types %}
                                <input type="hidden" name="visit_types" value="{{visit_type.id}}" />
                            {% endfor %}
                            <a class="show-visitor-data">[Show]</a>
                        </form>
                        </td>
                    </tr>
                    <tr style="display: none">
                        <td colspan="3" class="visitor-container">
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>

        <div class="col-md-6">
        <h2>Per-Visit Responses</h2>
        <table>
            <thead>
                <tr>
                    <th>Prompt</th>
                    <th>Affirmative Responses</th>
                    <th>Unique Respondents</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        {% for question, count, unique_visitors in visit_questions %}
            <tr>
                <td>{{ question.prompt }}</td>
                <td>{{ count }}</td>
                <td>{{ unique_visitors }}</td>
                <td>
                    <form action="/visit-respondents/" method="post" class="show-visitor-data-form">
                        {% csrf_token %}
                        <input type="hidden" name="question_id" value="{{question.id}}" />
                        <input type="hidden" name="start_date" value="{{start_date|date:"c"}}" />
                        <input type="hidden" name="end_date" value="{{end_date|date:"c"}}" />
                        {% for visit_type in visit_types %}
                            <input type="hidden" name="visit_types" value="{{visit_type.id}}" />
                        {% endfor %}
                        <a class="show-visit-data">[Show]</a>
                    </form>
                </td>
            </tr>
            <tr style="display:none">
                <td colspan="3" class="visit-container"></td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
        </div>

        <div class="spacer"></div>

        <div class="col-md-6">
        <h2>Visits by Town of ID</h2>
        <table>
            <thead>
                <tr>
                    <th>Town of ID</th>
                    <th>Unique Visitors</th>
                    <th>Total Visits</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for town, unique_count, total_count in visitors_by_id_town %}
                <tr>
                    <td>{{ town }}</td>
                    <td>{{ unique_count }}</td>
                    <td>{{ total_count }}</td>
                    <td>
                        <form action="/visitor-filter/" method="post" class="show-visitor-data-form">
                            {% csrf_token %}
                            <input type="hidden" name="town_of_id_filter" value="{{town}}" />
                            <input type="hidden" name="start_date" value="{{start_date|date:"c"}}" />
                            <input type="hidden" name="end_date" value="{{end_date|date:"c"}}" />
                            {% for visit_type in visit_types %}
                                <input type="hidden" name="visit_types" value="{{visit_type.id}}" />
                            {% endfor %}
                            <a class="show-visitor-data">[Show]</a>
                        </form>
                    </td>
                </tr>
		<tr style="display: none">
		    <td colspan="4" class="visitor-container">
		    </td>
		</tr>
            {% endfor %}
            </tbody>
        </table>
        Number of unique towns of ID: {{ visitors_by_id_town|length }}
        </div>

        <div class="col-md-6">
        <h2>Visits by Town of Residence</h2>
        <table>
            <thead>
                <tr>
                    <th>Town of Residence</th>
                    <th>Unique Visitors</th>
                    <th>Total Visits</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for town, unique_count, total_count in visitors_by_resid_town %}
                <tr>
                    <td>{{ town }}</td>
                    <td>{{ unique_count }}</td>
                    <td>{{ total_count }}</td>
                    <td>
                        <form action="/visitor-filter/" method="post" class="show-visitor-data-form">
                            {% csrf_token %}
                            <input type="hidden" name="town_of_resid_filter" value="{{town}}" />
                            <input type="hidden" name="start_date" value="{{start_date|date:"c"}}" />
                            <input type="hidden" name="end_date" value="{{end_date|date:"c"}}" />
                            {% for visit_type in visit_types %}
                                <input type="hidden" name="visit_types" value="{{visit_type.id}}" />
                            {% endfor %}
                            <a class="show-visitor-data">[Show]</a>
                        </form>
                    </td>
                </tr>
		<tr style="display: none">
		    <td colspan="4" class="visitor-container">
		    </td>
		</tr>
            {% endfor %}
            </tbody>
        </table>
        Number of unique towns of residence: {{ visitors_by_resid_town|length }}
        </div>
        </div>

        <div id="visitor-names" class="lightbox">
            {% for name in unique_visitor_names %}
               {{ name }}<br />
            {% endfor %}
        </div>

    </body>
</html>

