{% load tag_extras %}
{% load staticfiles %}

{% include "report_header.html" %}

    <style type="text/css">
        div.spacer {
            margin: 5em;
        }
        a:hover {cursor:pointer}
    </style>

    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-ui-1.10.3.custom.min.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {

            // An event handler for visitor links used to
            // expand a particular question and load the sub-table with data
            function showVisitorData(link) {
                var hiddenRow = $(link).closest("tr").next("tr");
                if(! $(hiddenRow).is(":visible")) {
                    var container = $(hiddenRow).children(".visitor-container");
                    var questionId = $(this).attr("data-bind");

                    // request the question data
                    var relatedForm = $(link).closest("form");
                    $.ajax({
                        dataType : "json",
                        url: relatedForm.attr("action"), 
                        type: "post",
                        data : relatedForm.serialize(),
                        success : function(data) {
                            if(data["result"] == "error") {
                                alert(data["message"]);
                            } else {
                                var table = $("<table></table>");
                                $.each(data.respondents, function(i, row) {
                                    table.append("<tr>" + 
                                        "<td width=\"50%\"></td>" + 
                                        "<td width=\"30%\">" + row.name + "</td>" + 
                                        "<td width=\"20%\"><a href=\"/edit-visitor/" + row.id + "\">Edit</a></td>" + 
                                        "</tr>");
                                });
                                container.empty();
                                container.append(table);
                                $(hiddenRow).show(); 
                                $(link).html("[Hide]");
                            }
                        }
                    });
                } else {
                    $(hiddenRow).hide(); 
                    $(link).html("[Hide]");
                }
            }

            // an event handler for visit-question links used to expand a 
            // particular question and load the sub-table with data
            function showVisitData(link) {
                var hiddenRow = $(link).closest("tr").next("tr");
                if(! $(hiddenRow).is(":visible")) {
                    var container = $(hiddenRow).children(".visit-container");
                    var questionId = $(this).attr("data-bind");

                    // request the question data
                    var relatedForm = $(link).closest("form");
                    $.ajax({
                        dataType : "json",
                        url : relatedForm.attr("action"),
                        type : "post",
                        data : relatedForm.serialize(),
                        success : function(data) {
                            if(data["result"] == "error") {
                                alert(data["message"]);
                            } else {
                                var table = $("<table></table>");
                                $.each(data.respondents, function(i, row) {
                                    table.append("<tr>" + 
                                        "<td width=\"50%\"></td>" + 
                                        "<td width=\"30%\">" + row.name + "</td>" + 
                                        "<td width=\"20%\"><a href=\"/edit-visit/" + row.visitorid + "/" + row.id + "\">Edit</a></td>" + 
                                        "</tr>");
                                });
                                container.empty();
                                container.append(table);
                                $(hiddenRow).show(); 
                                $(this).html("[Hide]");
                            }
                        }
                    });
                } else {
                    $(hiddenRow).hide(); 
                    $(this).html("[Show]");
                }
            }

            // when the a 'show' link is clicked on the visitor table, 
            // load the container
            $(".show-visitor-data").click(function(e) { 
                    e.preventDefault(); 
                    showVisitorData(e.target); 
            });

            // similarly for visit data
            $(".show-visit-data").click(function(e) {
                e.preventDefault();
                showVisitData(e.target);
            });
        });
    </script>

    <div style="padding-left: 50px; margin-left: 50px;">
    <h1>United Way Report: {{ start_date }} through {{ end_date }}</h1>
    <h1>
        {{ report_header }}
    </h1>
    <hr/>

        <h2>{{ num_unique_visitors }} Unique Visitors</h2>
        <h2>{{ total_visits }} Visits Overall</h2>
        <h2>{{ num_veteran_visits }} Veteran Visits ({{ num_visiting_veterans }} unique)</h2>
        <!-- 
        <div class="col-md-3">
        col 1
        </div>
        <div class="col-md-3">
        col 2
        </div>
        <div class="col-md-3">
        col 3
        </div>
        -->

        <div class="row" style="clear: both"></div>

        <h2>One-time Responses</h2>
        <table>
            <thead>
                <tr>
                    <th>Prompt</th>
                    <th>Affirmative Responses</th>
                    <th></th>
                </tr>
                <tr>
            </thead>
            <tbody>
                {% for question, count in visitor_questions %}
                    <tr>
                        <td>{{ question.prompt }}</td>
                        <td>{{ count }} </td>
                        <td>
                        <form action="/visitor-respondents/" method="post" class="show-visitor-data-form">
                            {% csrf_token %}
                            <input type="hidden" name="question_id" value="{{question.id}}" />
                            <input type="hidden" name="start_date" value="{{start_date|date:"c"}}" />
                            <input type="hidden" name="end_date" value="{{end_date|date:"c"}}" />
                            {% for visit_type in visit_types %}
                                <input type="hidden" name="visit_types" value="{{visit_type.id}}" />
                            {% endfor %}
                            <a class="show-visitor-data">[Show]</a>
                        </form>
                        </td>
                    </tr>
                    <tr style="display: none">
                        <td colspan="3" class="visitor-container">
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="spacer"></div>

        <h2>Per-Visit Responses</h2>
        <table>
            <thead>
                <tr>
                    <th>Prompt</th>
                    <th>Affirmative Responses</th>
                    <th>Unique Respondents</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        {% for question, count, unique_visitors in visit_questions %}
            <tr>
                <td>{{ question.prompt }}</td>
                <td>{{ count }}</td>
                <td>{{ unique_visitors }}</td>
                <td>
                    <form action="/visit-respondents/" method="post" class="show-visitor-data-form">
                        {% csrf_token %}
                        <input type="hidden" name="question_id" value="{{question.id}}" />
                        <input type="hidden" name="start_date" value="{{start_date|date:"c"}}" />
                        <input type="hidden" name="end_date" value="{{end_date|date:"c"}}" />
                        {% for visit_type in visit_types %}
                            <input type="hidden" name="visit_types" value="{{visit_type.id}}" />
                        {% endfor %}
                        <a class="show-visit-data">[Show]</a>
                    </form>
                </td>
            </tr>
            <tr style="display:none">
                <td colspan="3" class="visit-container"></td>
            </tr>
        {% endfor %}
            </tbody>
        </table>

        <div class="spacer"></div>

        <h2>Visits by Town of ID</h2>
        <table>
            <thead>
                <tr>
                    <th>Town of ID</th>
                    <th>Unique Visitors</th>
                    <th>Total Visits</th>
                </tr>
            </thead>
            <tbody>
            {% for town, unique_count, total_count in visitors_by_id_town %}
                <tr>
                    <td>{{ town }}</td>
                    <td>{{ unique_count }}</td>
                    <td>{{ total_count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        Number of unique towns of ID: {{ visitors_by_id_town|length }}

        <div class="spacer"></div>

        <h2>Visits by Town of Residence</h2>
        <table>
            <thead>
                <tr>
                    <th>Town of Residence</th>
                    <th>Unique Visitors</th>
                    <th>Total Visits</th>
                </tr>
            </thead>
            <tbody>
            {% for town, unique_count, total_count in visitors_by_resid_town %}
                <tr>
                    <td>{{ town }}</td>
                    <td>{{ unique_count }}</td>
                    <td>{{ total_count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        Number of unique towns of residence: {{ visitors_by_resid_town|length }}
        </div>

    </body>
</html>

