
{% load tag_extras %}
{% include "report_header.html" %}

        <div style="width: 800px; margin: 0 auto;">
        <h1>Visit Report: {{ start_date }} through {{ end_date }}</h1>

        <table>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Overnight</th>
                <th>Resource Center</th>
                <th>Other</th>
            </tr>
            {% for visitor, counts in visit_dict.items %}
            <tr>
                <td>{{ visitor.name }}</td>
                <td>{{ visitor.age|replace_none:"-"  }}</td>
                <td>{{ counts.0  }}</td>
                <td>{{ counts.1  }}</td>
                <td>{{ counts.2  }}</td>
            </tr>
            {% endfor %}
        </table>

        </div>
    </body>
</html>
