
{% load tabindex from tag_extras %}
{% load toticks from tag_extras %}
{% load bool_yn from tag_extras %}
{% load after_split_point from tag_extras %}
{% load selected_choice from tag_extras %}
{% load visit_response_notes from tag_extras %}
{% include "topmatter.html" %}

{% if alert %}
    <div style="color: red; font-weight: bold">
        {{ alert }}
    </div>
{% endif %}

{% if form.instance.id %}
<form method="post" action="{% url edit-visitor form.instance.id %}">
{% else %}
<form method="post" action="">
{% endif %}
    {{ form.non_field_errors }}
    {{ form.errors }}
    {% csrf_token %}

    <div class="right">

        <label for="id_income">Income:</label>
        {{ form.income_val.errors }}
        {{ form.income_val|tabindex:7 }}
        {% if form.instance.income and not form.instance.income_val %}
            (Previous: {{form|selected_choice:"income"}})
        {% endif %}

        <label for="id_ethnicity">Ethnicity:</label>
        {{ form.ethnicity.errors }}
        {{ form.ethnicity|tabindex:8 }}

        {% if form.instance.id %}
        <div style="display: block">
            <a href="{% url resource-check-in form.instance.id %}" style="margin-top: 15px;" class="round-button">Check In - Resource Center</a>
        </div>
        <div style="display: block">
            <a href="{% url overnight-check-in form.instance.id %}" class="round-button">Check In - Overnight</a>
        </div>
        {% endif %}
        <div style="display: block">
                <a href="{% url visitors %}" style="margin-top: 15px" class="round-button">Back to List</a>
        </div>
                <input style="display: block; margin-top: 5px;" class="round-button" type="submit" value="Save Visitor" tabindex="10"/>
    </div>
    <div class="left">
        <label for="id_name">Name:</label>
        {{ form.name.errors }}
        {{ form.name|tabindex:1 }}

        <label for="id_date_of_birth">Date of Birth:</label>
        {{ form.date_of_birth.errors }}
        {{ form.date_of_birth|tabindex:2 }}

        <label for="id_town_of_residence">Town of Residence:</label>
        {{ form.town_of_residence.errors }}
        {{ form.town_of_residence|tabindex:3 }}

        <label for="id_town_of_id">Town of ID:</label>
        {{ form.town_of_id.errors }}
        {{ form.town_of_id|tabindex:4 }}

        <label for="id_gender">Gender:</label>
        {{ form.gender.errors }}
        {{ form.gender|tabindex:5 }}

        <div style="margin-top:10px"></div>
        {{ form.veteran.errors }}
        {{ form.veteran|tabindex:6 }}
        <label for="id_veteran" style="display: inline;">
        Veteran?</label>

    </div>

    <div style="clear: both; margin: 30px;">
        {{ question_forms.management_form }}
        {% for question in question_forms.forms %}
            {% if forloop.first %}
            <div class="right">
            {% endif %}
            {{ question.non_field_errors }}
            {{ question.errors }}
            {{ question.question.as_hidden }}
            {{ question.id }}
            {{ question.instance.question.prompt }}
            {{ question.bool_response }}<br />
            {% if forloop.counter|after_split_point:question_forms %}
            </div><div class="left">
            {% endif %}
            {% if forloop.last %}</div>{% endif %}  
        {% endfor %}
       <div style="clear: both"></div>
    </div> 
</form>

<script type="text/javascript">
   $("#id_date_of_birth").datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: '1940:c',
        defaultDate: '-30y'
   }); 
</script>

{% if form.instance.id %}
<fieldset style="clear: both;"> 
    <legend>Visits</legend>

    <a href="{% url add-visit form.instance.id %}" class="round-button">Add Visit</a>

    <table class="visit-table">
        <thead>
            <th>Ticks</th>
            <th>Date</th>
            <th>Visit Type</th>
            <th>Notes</th>
            <th></th>
        </thead>
        <tbody>
       {% for visit in visits %}
            <tr>
                <td>{{ visit.date|toticks }}</td>
                <td>{{ visit.date }}</td>
                <td>{{ visit.visit_type }}</td>
                <td>{{ visit.comment }} {{ visit.visitresponse_set|visit_response_notes|linebreaksbr }}</td>
                <td>
                    <a href="{% url edit-visit form.instance.id visit.id %}">Edit</a> | 
                    <a href="{% url delete-visit visit.id %}"
                        onclick="return confirm('Are you sure you want to delete the visit?')">Delete</a>
                </td>
            </tr>
       {% endfor %}
   </tbody>
</table>
</fieldset>

<script type="text/javascript">
    $(document).ready(function() {
        var visit_table = $(".visit-table").dataTable({
            "bLengthChange" : false,
            "iDisplayLength": 1000,
            "sDom": 'T<"clear">lfrtip',
            "bFilter" : false,
            "bPaginate" : false,
            "bInfo" : false,
            "oTableTools": {
                "sSwfPath": "/static/swf/copy_csv_xls_pdf.swf",
                "aButtons" : [ ]
            },
            "aoColumns": [ 
                /* Ticks */   { "bSearchable": false,
                                 "bVisible":    false },
                /* Display date */  {"iDataSort" : 0},
                /* Visit type */ null,
                null,
                /* Links */  null
            ]
        });
        visit_table.fnSort([[1, "desc"]]);
    });
</script>
{% endif %}

{% include "footer.html" %}

