
{% load tabindex from tag_extras %}
{% include "topmatter.html" %}

<style type="text/css">
    textarea#id_comment {
        width: 250px;
        height: 50px;
    }
    .right {
        width: 75%;
    }

    textarea {
        width: 250px;
        height: 35px;
    }
</style>
{% if form.instance.id %}
<form method="post" action="{% url 'edit-visit' form.instance.visitor.id form.instance.id %}">
{% else %}
<form method="post" action="">
{% endif %}
    {% csrf_token %}
    {{ form.errors }}    
    <div class="right">
        {{ responses.management_form }}
        {% for response in responses.forms %}
            <div style="margin: 10px">
            {{ response.id }}
            {{ response.question.as_hidden }}
            {{ response.non_field_errors }}
            {{ response.errors }}
            {{ response.instance.question.prompt }}
            {{ response.bool_response }}
            {% if response.instance.question.type == "CHECKBOX-DETS" %}
                <p>If yes, please describe:</p>
                {{ response.details }}
            {% endif %}
            </div>
        {% endfor %}
    </div>

    <div class="left">
    <p style="font-weight: bold;">Visitor: {{ visitor.name }}</p>

    {{ form.non_field_errors }}
    {{ form.visitor.errors }}
    {{ form.visitor }}

    <label for="id_visit_type" >Visit Type:</label>
    {{ form.visit_type.errors }}
    {{ form.visit_type|tabindex:1 }}

    <label for="id_date">Date:</label>
    {{ form.date.errors }}
    {{ form.date|tabindex:2 }}

    <label for="id_comment" style="display:block">Comment:</label>
    {{ form.comment.errors }}
    {{ form.comment|tabindex:3}}

    <div style="display: block">
        <a href="{% url 'edit-visitor' visitor.id %}" class="round-button">Back to Visitor</a>
        <input type="submit" value="Save" class="round-button" />
    </div>
    </div>

</form>

<script type="text/javascript">
   $("#id_date").datepicker(); 
</script>

{% include "footer.html" %}

