{% load tabindex from tag_extras %}
{% include "topmatter.html" %}

<style type="text/css">
    textarea#id_comment {
        width: 200px;
        height: 50px;
    }
    .right {
        width: 75%;
    }
</style>
<form method="post" action="">
    {% csrf_token %}
    <p style="font-weight: bold;">Referrer: {{ referrer.name }}</p>

    {{ form.non_field_errors }}
    {{ form.referrer}}

    <div class="right">

        <div style="display: block;">
            <a href="{% url edit-referrer referrer.id %}" style="margin: 10px 0px;" class="round-button" tabindex="3">Back to Referrer</a>
            <input style="display: block; margin-top: 10px;" class="round-button" type="submit" value="Save Referral" tabindex="4"/>
        </div>


    </div>
    <div class="left" style="margin-bottom: 10px">

        {{ form.date.errors }}
        <label for="id_date">Date:</label>
        {{ form.date|tabindex:1 }}

        {{ form.comment.errors }}
        <label for="id_comment">Comments:</label>
        {{ form.comment|tabindex:2 }}

    </div>
   </div>
</form>

<script type="text/javascript">
   $("#id_date").datepicker(); 
</script>

{% include "footer.html" %}

