
{% include "topmatter.html" %}
 
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="/static/js/knockout-3.0.0.js"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages: ["corechart"]});
    google.setOnLoadCallback(drawCharts);
    function drawCharts() {
        $.getJSON("{% url visits-by-month %}", function(data) {
            var newLength = data.unshift(['Month', 'Visit Count'])
            if(newLength > 1) {
                var tableData = google.visualization.arrayToDataTable(data)
                var chart = new google.visualization.LineChart(
                        document.getElementById('visits-by-month'));
                var options = {
                    title: 'Visits by Month',
                    legend : { position : "none" }
                };
                chart.draw(tableData, options);
            } else {
                $("#visits-by-month").html("No visit data");
            }
        });

        $.getJSON("{% url volunteer-hours-by-month %}", function(data) {
            var newLength = data.unshift(['Month', 'Volunteer Hours'])
            if(newLength > 1) {
                var tableData = google.visualization.arrayToDataTable(data);
                var chart = new google.visualization.LineChart(
                    document.getElementById('volunteer-hours-by-month'));
                var options = {
                    title : 'Volunteer Hours by Month',
                    legend : { position : "none" }
                };
                chart.draw(tableData, options);
            } else {
                $("#volunteer-hours-by-month").html("No volunteer data");
            }
        });
    }

    $(document).ready(function() {
        $(".dp").datepicker();
        var IndexViewModel = function() {
            this.donation_report_type = ko.observable("full");
        };
        ko.applyBindings(new IndexViewModel());
    });
</script>

<div id="volunteer-hours-by-month" style="float: right; width: 45%">
</div>

<div id="visits-by-month" style="width: 45%;">
</div>

<div style="clear: both;">
</div>


<fieldset>
    <legend>Visit Report</legend>
    <form action="{% url visit-report %}" target="_blank" method="get">

        <span style="margin: 5px; font-weight: bold;">Format</span>
        <select name="format">
            <option value="html">HTML</option>
            <option value="csv">Excel</option>
        </select>
        <div style="display: block;"></div>

        <span style="margin: 5px; font-weight: bold;">Start date</span>
        <input style="margin: 5px;" type="text" name="start-date" class="dp" />

        <span style="margin: 5px; font-weight: bold;">End date</span>
        <input style="margin: 5px;" type="text" name="end-date" class="dp" />

        <input type="submit" class="round-button" value="Run" />
    </form>
</fieldset>

<fieldset>
    <legend>Donation Report</legend>
    <form action="{% url donation-report %}" target="_blank" method="get">

        <span style="margin: 5px; font-weight: bold;">Format</span>
        <select name="format">
            <option value="html">HTML</option>
            <option value="csv">Excel</option>
        </select>
        <select name="type" id="temp" data-bind="value: donation_report_type">
            <option value="full" selected="selected">Full</option>
            <option value="mailinglabel">For Mailing Labels</option>
        </select>
        <div style="display: block;"></div>

        <div data-bind="visible: donation_report_type() == 'full'" 
             style="display: inline-block;">
            <span style="margin: 5px; font-weight: bold;">Start date</span>
            <input style="margin: 5px;" type="text" name="start-date" class="dp" />

            <span style="margin: 5px; font-weight: bold;">End date</span>
            <input style="margin: 5px;" type="text" name="end-date" class="dp" />
        </div>

        <input type="submit" class="round-button" value="Run" />
    </form>
</fieldset>

<fieldset>
    <legend>Volunteer Report</legend>
    <form action="{% url participation-report %}" target="_blank" method="get">

        <span style="margin: 5px; font-weight: bold;">Format</span>
        <select name="format">
            <option value="html">HTML</option>
            <option value="csv">Excel</option>
        </select>
        <div style="display: block;"></div>

        <span style="margin: 5px; font-weight: bold;">Start date</span>
        <input style="margin: 5px;" type="text" name="start-date" class="dp" />

        <span style="margin: 5px; font-weight: bold;">End date</span>
        <input style="margin: 5px;" type="text" name="end-date" class="dp" />

        <input type="submit" class="round-button" value="Run" />
    </form>
</fieldset>

<fieldset>
    <legend>United Way Report</legend>
    <form action="{% url united-way-report %}" target="_blank" method="post">
        
        {% csrf_token %}
       <div style="display: inline-block;">
            
            <ul class="multicol-checkbox">
                {% for vtype in visit_types %}
                    <li>
                        <input type="checkbox" name="visit-type" value="{{vtype.id}}"/>
                        <label>{{vtype.type}}</label>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div style="display: inline-block;">
            <span style="margin: 5px; font-weight: bold;">Start date</span>
            <input style="margin: 5px;" type="text" name="start-date" class="dp" />

            <span style="margin: 5px; font-weight: bold;">End date</span>
            <input style="margin: 5px;" type="text" name="end-date" class="dp" />
        </div>
        <input type="submit" class="round-button" value="Run" />
        
    </form>
</fieldset>


{% include "footer.html" %}

