
{% include "topmatter.html" %}

<fieldset>
    <legend>Import</legend>

    <h3>Visitors</h3>
    <form method="POST" action="/upload-visitors" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="visitor-csv"></input>
        <input type="submit"></input>
    </form>

    <h3 style="margin-top: 20px;">Donors</h3>
    <form method="POST" action="/upload-donors" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="donor-csv"></input>
        <input type="submit"></input>
    </form>
</fieldset>

{% include "footer.html" %}

