
{% load bool_yn from tag_extras %}
{% include "topmatter.html" %}

<script type="text/javascript">
    this.customExportTitle = "VisitorList";
</script>

<fieldset>
    <legend>Visitors</legend>

    <a href="{% url add-visitor %}" class="round-button" >Add Visitor</a>

    <table id="visitor-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Town of Residence</th>
                <th>Town of ID</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for visitor in visitors %}
            <tr>
                <td>{{visitor.name}}</td>
                <td>{{visitor.town_of_residence}}</td>
                <td>{{visitor.town_of_id}}</td>
                <td>
                    <a href="{% url edit-visitor visitor.pk %}">Edit</a> | 
                    <a href="{% url delete-visitor visitor.pk %}" onclick="return confirm('Are you sure you want to delete the visitor?')">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</fieldset>

<script type="text/javascript">
    $(document).ready(function() {
        var visitor_table = $("#visitor-table").dataTable({
            "bLengthChange" : false,
            "iDisplayLength": 100,
            "sDom": 'T<"clear">lfrtip',
            "oSearch" : {"sSearch" : "", "bSmart" : false},
            "oTableTools": {
                "sSwfPath": "/static/swf/copy_csv_xls_pdf.swf",
                "aButtons" : [
                    {
                        "sExtends" : "xls",
                        "sTitle" : customExportTitle
                    },
                    {
                        "sExtends" : "pdf",
                        "sTitle" : customExportTitle
                    }
                ]
            }
        });
    });
</script>

{% include "footer.html" %}

